body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    margin: 0;
    padding: 0;
}




/* ======================================= TOP BANNER ======================================= */


.banner-container {
    background-image: url(./cuisine.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;

}

.banner-test-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 244, 244, 0.739);
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.logo {
    font-size: 30px;
    margin-left: 10px;
}

.banner-text {
    font-size: 22px;
    margin-left: 10px;
}

/* ======================================= CONTENT ======================================= */

.content-container {
    position: relative;
    height: 80vh;
    background-color: grey;
    padding: 20px;
}

.ai-restaurant-wrapper {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    border: 5px solid rgba(160, 217, 239, 0.8);
    z-index: 10;
}


/* ======================================= FOOTER ======================================= */

.footer-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #CEEBF7;
    font-size: 30px;

}